@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

$BaseBG: #0f0f1a;

body, html {
	height: 100%;
	margin: 0;
	font-weight: 200;
}

body {
	background-color: $BaseBG;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.pass-page{
	font-family: 'Raleway', sans-serif;
}
.digit-group {
	input {
		width: 50px;
		height: 50px;
		background-color: lighten($BaseBG, 5%);
		border: none;
		line-height: 50px;
		text-align: center;
		font-size: 24px;
		font-family: 'Raleway', sans-serif;
		font-weight: 200;
		color: white;
		margin: 0 2px;
	}

	.splitter {
		padding: 0 5px;
		color: white;
		font-size: 24px;
	}
}

.prompt {
	margin-bottom: 20px;
	font-size: 20px;
	color: white;
}

.image-border{
	align-items: center;
	margin-top: 5em;
	margin-left: 5.5em;
	display: flex;
}

img {vertical-align: middle;}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted rgb(233, 177, 255); /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(255, 218, 253);
  color: rgb(41, 35, 35);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
  width: 100px;
  bottom: 90%;
  margin-bottom: -7.4rem;
  left: 20%;
  margin-left: -110px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}